@import "tailwindcss";

@theme {
    /* Fontes e Cores */
    --font-sans: 'Inter', sans-serif;
    --color-neutral-850: #1f1f1f;
    --color-neutral-950: #0a0a0a;
    
    /* Animação que estava no teu HTML original */
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Custom Scrollbar vertical */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 20px;
}

/* Esconder a barra de scroll horizontal nas tabs (Filtros) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}